/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Raleway:600|Roboto+Condensed');

.raleway {
  font-family: 'Raleway', sans-serif;
}
.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}
/* bold styling*/
.bold {
  font-weight: 500;
}


.white-txt-bg {
  background-color: rgba(255, 255, 255, 0.5);
}
.underline {
  text-decoration: underline;
}

.hover-zoom {
  transition: transform 0.2s;
  display: inline;
}
.hover-zoom:hover {
transform: scale(1.1);
border: 2px solid red;
border-radius: 8px;
}

.navbar-brand {
  color: #fff;
  font-size: 20px;
  padding: 10px;
}


.nav-link {
  font-size: 16px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.nav-link:active {
  background: red;
}


.fas {
  color: white;
}

.main {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  height: auto;
}
/*HOME PAGE LIST STYLING*/
.main-list {
  font-size: 20px;
  list-style: none;
  background-color: #eee;
  border-radius: 4px;
  display: inline-block;
}


.jumbotron  {
  margin: 0px;
}

btn .btn-primary .get-ride {
  font-size: 30px;
  padding: 20px;
}

/* FAQ PAGE STYLING START*/
.faq {
background-color: rgba(0,0,0,.4);
color: #fff;
padding: 20px;
}

.about {
  background-color: rgba(255, 255, 255, 0.5);
}

.flex-us {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

/* MAKE GMAP RESPONSIVE */
.map-resp{
    overflow:hidden;
    padding-bottom: 56.25%;
    position:relative;
    height: 0;
}
.map-resp iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.widgets {
  height: 500px;
}
